{% extends 'main.html' %}
{% block title %}精修主页{% endblock %}

{% block content %}
    <div class="container">
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/home">主页</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href=""></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href=""></a>
            </li>
          </ul>
    </div>
<hr>

<div class="container">
  <div class="input-group">
    <input type="search" class="form-control rounded" placeholder="请输入手机号码查询订单..." aria-label="Search" aria-describedby="search-addon" />
    <button name="q" type="button" class="btn btn-outline-primary">搜索</button>
  </div>
</div>
<hr>

<div class="container">
  <div class="container">

  
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
 

    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>


  </div>
</div>

{% endblock %}